.form-search {
  margin: 40px 0;
  display: block;
  .flex-container {
    display: flex;
    gap: 12px;
    margin: 16px 0;
  }

  .drop-container {
    max-width: 230px;
  }

  .mat-button-toggle-checked {
    background-color: #F7F2FA;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .mat-mdc-raised-button {
    height: 55px;
  }
}
