<app-card variant="secondary" class="form-search">
  <h2>Passagens</h2>
  <form [formGroup]="formSearchService.formSearch" (ngSubmit)="search()">
    <div class="flex-container">
      <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="somenteIda">
        <mat-button-toggle [value]="false">Ida e Volta</mat-button-toggle>
        <mat-button-toggle [value]="true">Somente Ida</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option (click)="formSearchService.openDialog()" selected>{{formSearchService.getDescricaoPassageiros()}}</mat-chip-option>
        <mat-chip-option (click)="formSearchService.openDialog()">{{formSearchService.obterControle('tipo').value}}</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex-container">

      <app-dropdown-uf label="Origem" iconPrefix="flight_takeoff"
        [control]="formSearchService.obterControle('origem')" />

      <button mat-icon-button>
        <mat-icon>sync_alt</mat-icon>
      </button>

      <app-dropdown-uf label="Destino" iconPrefix="flight_land"
        [control]="formSearchService.obterControle('destino')" />

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data de ida</mat-label>
        <input matInput [matDatepicker]="ida" />
        <mat-datepicker-toggle matIconSuffix [for]="ida"></mat-datepicker-toggle>
        <mat-datepicker #ida></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data da volta</mat-label>
        <input matInput [matDatepicker]="volta" />
        <mat-datepicker-toggle matIconSuffix [for]="volta"></mat-datepicker-toggle>
        <mat-datepicker #volta></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary">Buscar</button>
    </div>
  </form>
</app-card>
