<section class="modal">
  <div class="header">
    <h2 mat-dialog-title>Viajante</h2>
    <mat-dialog-actions>
      <button mat-icon-button mat-dialog-close class="close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>

  </div>
  <mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <app-passenger-selection title="Adultos" description="(Acima de 12 anos)" [formControl]="formSearchService.obterControle('adultos')" />
        <app-passenger-selection title="Crianças" description="(Entre 2 e 11 anos)" [formControl]="formSearchService.obterControle('criancas')"/>
        <app-passenger-selection title="Bebês" description="(Até 2 anos)" [formControl]="formSearchService.obterControle('bebes')"/>
      </ul>
    </div>
    <div>
      <p>Categoria</p>
      <mat-chip-listbox aria-label="Categoria">
        <mat-chip-option value="Econômica" [selected]="formSearchService.formSearch.get('tipo')?.value === 'Econômica'"
          (selectionChange)="formSearchService.alterarTipo($event, 'Econômica')">
          Econômica
        </mat-chip-option>
        <mat-chip-option value="Executiva" [selected]="formSearchService.formSearch.get('tipo')?.value === 'Executiva'"
          (selectionChange)="formSearchService.alterarTipo($event, 'Executiva')">
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="footer">
    <button mat-button color="primary" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Confirmar</button>
  </mat-dialog-actions>
</section>
